#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  --accent-color: #ed6e04;
  --todo-incomplete: #604f8f;
  --todo-complete: #545454;
  display: flex;
  flex-direction: column;
  align-items: center;
}


body {
  margin-top: 0;
  border: 2px solid white;
}

ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

li {
  font-weight: bold;
  text-align: left;
  list-style-type: none;
  text-align: center;
  margin: 0.4rem 0;
}

.listTitle {
  width: fit-content;
  margin: 1rem;
  padding: 0;
}

.todoGroupContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 0;
}

.todoGroup {
  cursor: pointer;
  height: 30px;
  margin: 0;
}

.todoGroupMenu {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  padding-bottom: 20px;
  background-color: var(--todo-incomplete);
  border: 2px solid white;
  border-radius: 10px;
  font-weight: bold;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listMenu {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: fit-content;
  min-height: 100px;
  padding-bottom: 20px;
  background-color: var(--todo-incomplete);
  border: 2px solid white;
  border-radius: 10px;
  font-weight: bold;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todoGroupMenuOption, .todoGroupMenuOption:target, .listMenuOption, .listMenuOption:target {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.todoGroupMenuOption:hover, .listMenuOption:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.todoContainer {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  width: 90%;
  margin-top: 1.7rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--todo-incomplete);
  cursor: pointer;
}
.todoContainer:nth-of-type(2) {
  margin-top: 1rem;
}

.todoContainer:hover {
  filter: brightness(120%);
}

.todoRight {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.picker {
  width: 100px;
  background-color: transparent;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.todoTitle {
  margin: 0;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

.todoDetail {
  font-weight: bold;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 1rem;
}

.urgent {
  border-left: 6px solid var(--accent-color);
  border-radius: 6px;
}

.complete {
  background-color: var(--todo-complete);
}

.strikethrough {
  font-weight: normal;
  letter-spacing: normal;
}

.edit {
  width: 30px;
}

.edit:hover {
  filter:invert(100%);
}

.editForm {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  border: 2px solid white;
  background-color: var(--todo-incomplete);
}

.editForm > input {
  max-width: 90%;
  border-radius: 4px;
  border: none;
  height: 20px;
  padding-left: 10px;
}

.editForm > textarea {
  width: 80%;
  max-width: 80%;
  min-height: 20px;
  max-height: 200px;
  border-radius: 4px;
  padding: 4px;
}

.editDueDate {
  width: 100px;
  border: none;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}
