#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  --accent-color: #ed6e04;
  --todo-incomplete: #604f8f;
  --todo-complete: #f0dfff;
}


body {
  margin-top: 0;
  border: 2px solid white;
}

ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

li {
  font-weight: bold;
  text-align: left;
  list-style-type: none;
  text-align: center;
  margin: 0.4rem 0;
}

.todoGroupContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.todoGroup {
  cursor: pointer;
  width: fit-content;
}

.todoGroupMenu {
  position: absolute;
  top: 50px;;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  padding-bottom: 20px;
  background-color: var(--todo-incomplete);
  border: 2px solid var(--todo-complete);
  border-radius: 10px;
  font-weight: bold;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todoGroupMenuOption, .todoGroupMenuOption:target {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.todoGroupMenuOption:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.todoContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--todo-incomplete);
}

.todoContainer:hover {
  transform: translate(-2px, -2px);
}

.todoRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.picker {
  width: 80px;
  background-color: transparent;
  border: none;
  margin-right: 10px;
}

.todoTitle {
  margin: 0;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

.todoDetail {
  font-weight: bold;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 1rem;
}

.urgent {
  border-left: 6px solid orange;
  border-radius: 6px;
}

.complete {
  background-color: var(--todo-complete);
}

.edit {
  width: 30px;
}